:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}
#app {
   width: 100%;
   height: 100%;
   margin: 0 auto;
   padding: 20px;
   box-sizing: border-box;
}
#map {
   height: 100vh;
   width: 100%;
   margin-top: 20px;
   border: 2px solid #333;
   z-index: 0;
}

#goalsList {
  position: absolute;
  top: 4.55%;
  right: 1%;
  width: 400px;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  background: #333;
  opacity: 0.85;
  z-index: 1;
  padding: 15px;

  box-shadow: -5px 0 20px rgba(0,0,0,0.4);
  transform: translateX(120%);
  transition:
    transform 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.4s ease-out;

  will-change: transform, opacity;
}
#goalsList.show {
  transform: translateX(0);
}

#goalsList header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

#goalsList #closeList {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-right: 15px;
}
#goalsList h2 {
    position: relative;
    font-size: 20px;
    margin: 0 0 10px 0;
    padding: 0;
    position: relative;
}

#goalsList #goalsContainer::before{
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    margin-top: 10px;
  }

#goalsList div{
    overflow-y: auto;
  }

#openList {
  display: none;
    position: absolute;
    top: 15%;
    right: 1%;
    transform: translateY(-50%);
    width: 40px;
    height: 80px;
    background: #333;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    box-shadow: -5px 0 20px rgba(0,0,0,0.4);
    opacity: 1;
    z-index: 1;
}
#openList.show {
    display: block;
}

.leaflet-popup-content{
  display: flex;
  flex-direction: column;
  letter-spacing: 0.5px;
}
.leaflet-popup-content h2, .leaflet-popup-content h4 {
  margin: 0;
  padding: 0;
}
.leaflet-popup-content button {
  margin-top: 10px;
  padding: 4px;
  align-self: center;
} 